@import "tailwindcss";

@theme inline {
  --color-black: #000;
  --color-white: #FFF;
  --color-evan-red: #FE5F55;
  --color-evan-green: #9BC53D;
  --color-evan-blue: #449DD1;
}

@theme {
  --animate-fade-in: fade-in 2s;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
